@{
    ViewBag.Title = "Error View";
}
<div class="d-flex flex-column flex-root">
    <!--begin::Authentication - 404 Page-->
    <div class="d-flex flex-column flex-center flex-column-fluid p-10">
        <!--begin::Illustration-->
        <img src="../Content/media/banner/error.png" alt="" class="mw-100 mb-10 h-lg-450px" />
        <!--end::Illustration-->
        <!--begin::Message-->
        <h1 class="fw-bold mb-10" style="color: #A3A3C7"> This order already been confirmed, please try another order </h1>
        <!--end::Message-->
        <!--begin::Link-->
        <!--end::Link-->
    </div>
    <!--end::Authentication - 404 Page-->
</div>
