

<div class="modal fade" tabindex="-1" id="modal_fg_back_popup">
    <div class="modal-dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-content position-absolute">
            <div class="modal-header">
                <h5 class="modal-title">Goto Sales Order</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <h3 style="color:orangered">Are you sure you want to go back, if yes, all added free good items will be reverted</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">No</button>
                <button type="button" onclick="Handle_fg_Back()" class="btn btn-primary">Yes</button>
            </div>
        </div>

    </div>
</div>

